body{
    background-color: aliceblue;
    
    
}
header{
    color: aliceblue;
}
.titulo{
    color: brown;
    font-family: cursive;
    text-align: center;
}
.subtitulo{
    text-align: center;
}
#cafe{
    display:block;
    margin:auto;
}
p{
    font-family: 'Garishing Worse', sans-serif;
    color: black;
}